<!DOCTYPE html>
<html lang = 'eng'>
<head>

</head>
<body class = "container">
    <section id = "mainSection">

      <form action = '' method = "POST">
        <input type = 'submit' value = "Delete blogpost <%= post.id %>">
      </form>
      <ul>





          <li> <%= post.postname %>:  <%= post.postcontents %>.

      </ul>
</body>
</html>
